.tenantSpace {
  .title {
    text-align: center;
    color: var(--textColor);
  }
  .message {
    margin-top: 20px;
    text-align: center;
  }
  .card {
    width: 100%;
    max-width: 800px;
    margin: 30px auto;
    border-radius: 10px;
    background-color: var(--secondaryColor);
    padding: 10px 20px;

    .label {
      font-weight: 600;
      color: var(--secondaryTextColor);
      margin: 20px 0;
    }

    .value {
      font-weight: 400;
      color: var(--textColor);
      margin: 0 10px;
    }
  }
  .buttonLocataire{
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 1.2rem;
  }
}
