.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 50px;
  margin-top: 30px;

  .firstView {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    margin-bottom: 40px;
  }

  .secondView {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
    .overviewWrapper {
    }
    .applyWrapper {
      width: 300px;
    }
  }

  .interested {
    display: flex;
    flex-direction: column;
    align-items: center;
    .message {
      font-size: 0.9rem;
      color: var(--textColor);
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 900px) {
  .firstView,
  .secondView {
    flex-direction: column;
  }
}
